{% extends "masterPage/base.html" %}
<!--Extender para usar el contenido de la pagina maestra-->
{% block title %} Inicio {% endblock %} {% block content %}
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="row" style="display: inline-block">
    <div class="tile_count">
      <div class="col-md-4 col-sm-8 tile_stats_count">
        <span class="count_top"><i class="fa fa-user"></i> Total Usuarios</span>
        <div class="count">{{total_usuarios}}</div>
      </div>
      <div class="col-md-4 col-sm-8 tile_stats_count">
        <span class="count_top"
          ><i class="fa fa-pie-chart"></i> Cantidad de ventas</span
        >
        <div class="count">{{cantidad_boletas}}</div>
      </div>
      <div class="col-md-4 col-sm-8 tile_stats_count">
        <span class="count_top"
          ><i class="fa fa-line-chart"></i> Total de ventas</span
        >
        <div class="count green">s/{{ total_ventas }}</div>
      </div>
    </div>
  </div>
  <!-- /top tiles -->

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="dashboard_graph">
        <div class="row x_title">
          <div class="col-md-6">
            <h3>Cantidad de ventas <small>Por dias</small></h3>
          </div>
          <div class="col-md-6">
            <div
              id="reportrange"
              class="pull-right"
              style="
                background: #fff;
                cursor: pointer;
                padding: 5px 10px;
                border: 1px solid #ccc;
              "
            >
              <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
              <span>Diciembre 30, 2014 - Junio 28, 2015</span>
              <b class="caret"></b>
            </div>
          </div>
        </div>

        <div class="col-md-9 col-sm-9">
          <div id="chart_plot_01" class="demo-placeholder"></div>
        </div>
        <div class="col-md-3 col-sm-3 bg-white">
          <div class="x_title">
            <h2>Top de ventas</h2>
            <div class="clearfix"></div>
          </div>

          <div class="col-md-12 col-sm-12">
            <div>
              <p>Venta de productos de limpieza</p>
              <div class="">
                <div class="progress progress_sm" style="width: 76%">
                  <div
                    class="progress-bar bg-green"
                    role="progressbar"
                    data-transitiongoal="70"
                  ></div>
                </div>
              </div>
            </div>
            <div>
              <p>Venta de productos de primera necesidad</p>
              <div class="">
                <div class="progress progress_sm" style="width: 76%">
                  <div
                    class="progress-bar bg-green"
                    role="progressbar"
                    data-transitiongoal="90"
                  ></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12">
            <div>
              <p>Venta de golosinas</p>
              <div class="">
                <div class="progress progress_sm" style="width: 76%">
                  <div
                    class="progress-bar bg-green"
                    role="progressbar"
                    data-transitiongoal="98"
                  ></div>
                </div>
              </div>
            </div>
            <div>
              <p>Venta de verdura y frutas</p>
              <div class="">
                <div class="progress progress_sm" style="width: 76%">
                  <div
                    class="progress-bar bg-green"
                    role="progressbar"
                    data-transitiongoal="68"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <br />
</div>
{% endblock %}
